.post{
    padding: 1rem;
    background-color: aliceblue;
    color:darkblue;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px dashed lightslategray;
}
button{
    float: right;
}

.comment{
    padding: 0.5rem;
    background-color:lightblue;
    
    font-weight: bold;
    font-size: 13px;
    border: 1px dotted green;
}

ol li{
    list-style:none;
    color:black;
    
}
ul li{
    color:darkgreen;
    list-style: none;
    margin-top: 3px;
    margin-bottom: 10px;
}

ul li span{
    color: black;
}