.container {
  width: 15em;
  margin: 0 0.2em;
  float: left;
  position: relative;
}

.pic img {
  width: 100%;
}

.title {
  font-weight: bold;
  color: #ccc;
  margin-bottom: 1em;
}

.lightMode .title{
  color: black;
}

li {
  color: white;
}
ul {
  margin-bottom: 2em;
}

.channel,
.views {
  font-size: small;
  color: lightgray;
  margin-bottom: 0.2em;
}

.lightMode .channel, .lightMode .views{
  font-weight: 500;
  color: blue
}

.views span {
  padding: 0 0.5em;
}

.close {
  position: absolute;
  right: 0;
}

.edit {
  position: absolute;
  right: 3em;
}
